node_modules
node_modules/
.idea/
.vscode/
coverage/
dist/
storybook-static/
.env

truss/.terraform/
tilt_modules/
!.editorconfig

# Translation output
src/i18n/ast/
yarn-error.log
.tool-versions
.DS_Store
.DS_Store