.header {
  background-color: #474747;
  padding-right: 79px;
  padding-left: 118px;

  @media (max-width: 900px) {
    padding-left: 0;
  }
}

.logo {
  font-family: 'Work Sans, sans-serif';
  font-weight: 600;
  color: #fffefe;
  text-align: left;
}

.menuButton {
  font-family: 'Open Sans, sans-serif';
  font-weight: 700;
  size: 18px;
  margin-left: 38px;
}

.toolbar {
  display: 'flex';
  justify-content: space-between;
}

.drawerContainer {
  padding: 20px 30px;
}

.iconButton {
  min-width: 3rem;
}